@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');
*,
*::after,
*::before {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

/* APP */
#app {
    font-family: inika, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: white;
    background-color: #333333 ;
}

nav {
    padding: 30px;
}

nav a {
    font-weight: bold;
    color: #2c3e50;
}

nav a.router-link-exact-active {
    color: #42b983;
}

/* ======= */

/*======== Navbar ======= */
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-fit: center;
}

/* logo-navbar*/
img[alt="logo"] {
    width: 5rem;
}

.navbar {
    background-color: #5c5c5c;
}
.footer {
    background-color: #5c5c5c;
}